*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.Header{
    
     
    color: white;
    background-color: rgb(104, 24, 0);
    height: 5rem;
    position: sticky;
    
}
.trav{
    color: rgb(0, 117, 138);
}

.header-h1{
    padding: 1rem;
    float: left;
    color: rgb(255, 255, 255);
    margin-left: 02.5rem;
    cursor: pointer;
    text-shadow: 0px 0px 6px black;
}

.navigation{
    display: inline-block;
}
.navigation ul li{

    list-style-type: none;
    margin: .9rem;
    float: left;
    margin-left: 2rem;
    text-shadow: 1px 1px 3px black;
    font-size: 1.1rem;
    /* border-bottom: 2.5px solid white;
    line-height: 22px;
     */

}
.active{
    color: rgb(0, 117, 138);
    font-weight:bolder;
}

.navigation ul{
    margin-top: 1rem;
    margin-left: 1rem;
    
}

.btn{
    position: absolute;
    right: 5rem;
    border: 1px solid white;
    padding: 7px 10px;
    top: .5rem;
    border-radius: 6px ;
    box-shadow: 0px 0px 2px white;
}


.list_links:hover{
    color: rgb(0, 130, 153);
    cursor: pointer;
    transition: all .1s ease-in;
    font-weight:bolder;
    /* text-shadow: 0px 0px 1px rgb(0, 117, 138) ; */
    border-bottom: 2.5px solid rgb(0, 117, 138);
    line-height: 22px;
    
    
    
}

.btn:hover{
    background-color: white;
    color: rgb(0, 117, 138);
    cursor: pointer;
    transition: all .5s ease;
    text-shadow: none;
    font-weight: bolder;

}



.showcase{
    background: url('./travelb.png') ;
    background-repeat: no-repeat;
    min-width: 500px;
    background-size:cover;
    height: 1000px;
    opacity: 0.8;
 
}

.heav{
    color: rgb(0, 117, 138);
    /* text-shadow: 0px 0px 6px green; */
}

.headingshow{

    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 2.5rem;
    font-weight: lighter;
    padding-top: 9rem;
    
}














